<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <button mat-raised-button color="primary" (click)="showUploadDialog()">Upload .json</button>

  <section class="json-table">
    <table mat-table [dataSource]="translationsSource">
      <ng-container matColumnDef="key" sticky>
        <th mat-header-cell *matHeaderCellDef> Key </th>
        <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
      </ng-container>

      <ng-container matColumnDef="en">
        <th mat-header-cell *matHeaderCellDef> en </th>
        <td mat-cell *matCellDef="let element"> {{ element.en }} </td>
      </ng-container>

      <ng-container matColumnDef="de">
        <th mat-header-cell *matHeaderCellDef> de </th>
        <td mat-cell *matCellDef="let element"> {{ element.de }} </td>
      </ng-container>

      <ng-container matColumnDef="lt">
        <th mat-header-cell *matHeaderCellDef> lt </th>
        <td mat-cell *matCellDef="let element"> {{ element.lt }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
